/*RESET*/

* {

    margin: 0;

    padding: 0;

}



/*BODY*/

body {

    font: 17px 'Nanum Gothic', sans-serif;

}



div {

    float: left;

    width: 200px;

    height: 200px;

    margin: 20px;

    font-size: 20px;

    color: #fff;

    ext-alitgn: center;

    line-height: 200px;

}



#bg {

    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,red),color-stop(1,blue));

    background: -moz-linear-gradient(left top,red,blue);

}



#bg2 {

    background: -webkit-gradient(radial,center center,30,center center,90,from(red),to(blue));

}



#bg3 {

    background: linear-gradient(to right,red,blue);

}



#bg4 {

    background: linear-gradient(to bottom,red,blue);

}



#bg5 {

    background: linear-gradient(to right top,red,blue);

}



#bg6 {

    background: linear-gradient(to right bottom,red,blue);

}



#bg7 {

    background: linear-gradient(to right,red,green,blue);

}



#bg8 {

    background: radial-gradient(red,green,blue);

}



#bg9 {

    background: linear-gradient(to right,red 10%,orange 20%,yellow 30%,green 40%,blue 50%,darkblue 60%,purple 70%,#00ebff 80%,#302841 90%);

}



#bg10 {

    background: linear-gradient(to bottom,red 30px,orange 60px,yellow 90px,green 120px,blue 150px,darkblue 180px,purple 210px,#00ebff 240px,#302841 270px);

}

