h1{color: blue; }

p,b {
    color: mediumspringgreen}
    
    .ca{
        color: rgb(214, 34, 124)}

* {background-color: rgb(231, 231, 231); } 

#ia {
    color: yellow; }

img{
    /* border-width: 5px */
    border-radius: 20px;
    border: 10px solid pink;
    /* padding: 10px; */
    margin: 15px;

    /* inline-block: 20px; */

}