.container {
    display: grid;
    grid-template-columns: 200px 200px 200px; 
    grid-template-rows: 200px 200px 200px;
    /* grid-template-columns: repeat(3,1fr); */

    /* row-gap: 10px; */
    /* column-gap: 20px; */

    gap: 10px 40px;

}


    .item{
    background-color: rgb(208, 255, 137);
}